<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.4/seedrandom.min.js"></script>
    <script src="http://simjs.com/_downloads/random-0.26.js"></script>
    <script src="npcbackgrounds.js"></script>
    <script src="npcs.js"></script>
    <script src="cities.js"></script>
    <script src="encounters.js"></script>
    <script src="shops.js"></script>
    <script src="weather.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body ng-app="App" ng-controller="appCtrl" ng-cloak>
    <md-grid-list md-cols="1" md-row-height="100%">
        <md-grid-tile md-colspan="1" md-rowspan="1">
        <div class="panel">
            <md-tabs md-dynamic-height="true">
            <md-tab>
            <md-tab-label><span class="fas fa-user"></span></md-tab-label>
            <md-tab-body>
            <div class="panel no-outline">
                <h1>NPC Generator</h1>
                <!-- <md-tabs md-dynamic-height="true">
                <md-tab>
                <md-tab-label>Personality</md-tab-label>
                <md-tab-body>
                <div class="panel no-outline">
                    <iframe src="http://www.npcgenerator.com/"></iframe>
                </div>
                </md-tab-body>
                </md-tab>
                <md-tab>
                <md-tab-label>Details</md-tab-label>
                <md-tab-body>
                <div class="panel no-outline">
                    <iframe src="https://rpgtinker.com/"></iframe>
                </div>
                </md-tab-body>
                </md-tab>
                </md-tabs> -->
                <md-button ng-click="GetNPC()">Generate</md-button>
                <div class="" style="height: 400px;">
                    <div ng-hide="npc === null">
                        <div>
                            <h2>{{npc.Name}}</h2>
                            <div>
                                <h3>{{npc.Race.Size}} {{npc.Background.Gender}} <span ng-hide="npc.Race.Subrace===''">{{npc.Race.Subrace}} </span>{{npc.Race.Name}} {{npc.Class.Name}}</h3>
                                <p>
                                    <b>{{npc.Background.Occupation.Secondary}} ({{npc.Background.Occupation.Primary}})</b><span ng-hide="npc.Background.Occupation.Description===''"><b>:</b>  {{npc.Background.Occupation.Description}}</span><br>
                                    <b>Alignment:</b> {{npc.Background.Alignment}}<br>
                                    <b>Age:</b> {{npc.Background.Age}} ({{npc.Background.AgeCategory}})<br>
                                    <b>Romantic Status:</b> {{npc.Background.Romance}}<br>
                                    <b>Sexuality:</b> {{npc.Background.Sexuality}}<br>
                                    <b>Kids:</b> {{npc.Background.Kids}}
                                </p>
                                <h5>Stats</h5>
                                <table class="stats">
                                    <tr><th>STR</th><th>DEX</th><th>CON</th><th>INT</th><th>WIS</th><th>CHA</th></tr>
                                    <tr><td>{{npc.Stats.Stats.Strength}}</td><td>{{npc.Stats.Stats.Dexterity}}</td><td>{{npc.Stats.Stats.Constitution}}</td><td>{{npc.Stats.Stats.Intelligence}}</td><td>{{npc.Stats.Stats.Wisdom}}</td><td>{{npc.Stats.Stats.Charisma}}</td></tr>
                                    <tr><td>({{npc.Stats.Modifiers.Strength}})</td><td>({{npc.Stats.Modifiers.Dexterity}})</td><td>({{npc.Stats.Modifiers.Constitution}})</td><td>({{npc.Stats.Modifiers.Intelligence}})</td><td>({{npc.Stats.Modifiers.Wisdom}})</td><td>({{npc.Stats.Modifiers.Charisma}})</td></tr>
                                </table>
                                <p>
                                    <b>Level:</b> {{npc.Stats.Level}}<br>
                                    <b>AC:</b> {{npc.Stats.AC}}<br>
                                    <b>Hit Points:</b> {{npc.Stats.HitPoints}}<br>
                                    <b>Speed:</b> {{npc.Stats.Speed}}<br>
                                    <b>Proficiency Bonus:</b> {{npc.Stats.ProficiencyBonus}}<br>
                                </p>
                                <ul>
                                    <li ng-repeat="feature in npc.Stats.Features">{{feature}}</li>
                                </ul>
                                <h5>Proficiencies</h5>
                                <p><b>Skills:</b> <span ng-repeat="skill in npc.Proficiencies.SkillProficiencies">{{skill}}{{$last ? '' : ', '}}</span></p>
                                <p><b>Tools:</b> <span ng-repeat="tool in npc.Proficiencies.ToolProficiencies">{{tool}}{{$last ? '' : ', '}}</span></p>
                                <p><b>Saving Throws:</b> <span ng-repeat="throw in npc.Proficiencies.SavingThrowProficiencies">{{throw}}{{$last ? '' : ', '}}</span></p>
                                <p><b>Languages:</b> <span ng-repeat="lang in npc.Languages">{{lang}}{{$last ? '' : ', '}}</span></p>
                                <h5>Personality</h5>
                                <p><b>Emotional Disposition.</b> Usually feels {{npc.Personality.EmotionalDisposition.DeepEmotion}}. This expresses itself through {{npc.Personality.EmotionalDisposition.Expression}}. Externally, this comes out as {{npc.Personality.EmotionalDisposition.ExternalExpression}}, and internally it is {{npc.Personality.EmotionalDisposition.InternalExpression}}. When stressed, the character will revert to {{npc.Personality.EmotionalDisposition.StressedEmotion}}.</p>
                                <p><b>Primary Motivation.</b> {{npc.Personality.PrimaryMotivator}}</p>
                                <p><b>Moodiness.</b> {{npc.Personality.Moodiness}}</p>
                                <div ng-repeat="trait in npc.Personality.CoreTraits">
                                    <b>{{trait.Type}}.</b><i> {{trait.TypeDescription}}</i>
                                    <ul><li><i>{{trait.Value}}.</i> {{trait.ValueDescription}}</li></ul>
                                </div>
                                <p><b>Sense of Humor.</b> {{npc.Personality.Humor}}</p>
                                <p><b>Hobbies.</b> <span ng-repeat="v in npc.Personality.Hobbies">{{v}}{{$last ? '' : ', '}}</span></p>
                                <p><b>Quirks.</b> <span ng-repeat="v in npc.Personality.Quirks">{{v}}{{$last ? '' : ', '}}</span></p>
                                <p><b>MentalDisorders.</b> <span ng-repeat="v in npc.Personality.MentalDisorders">{{v}}{{$last ? '' : ', '}}</span></p>
                                <h5>Preferences</h5>
                                <p><b>Affinities.</b> <i>{{npc.Disposition.Affinities.Feature}}.</i><br>
                                Likes people with these attributes: {{npc.Disposition.Affinities.PositiveShift}}<br>
                                Dislikes people with these attributes: {{npc.Disposition.Affinities.NegativeShift}}</p>
                                <p><b>Religion.</b> {{npc.Disposition.Religion.BeliefSystem}}<br>
                                <i>Association.</i> {{npc.Disposition.Religion.Association}}<br>
                                <i>Role.</i> {{npc.Disposition.Religion.ReligiousRole}} - {{npc.Disposition.Religion.ReligiousRoleDescription}}<br>
                                <i>Attitude.</i> {{npc.Disposition.Religion.AttitudeAbout}}<br>
                                <i>Expression.</i> {{npc.Disposition.Religion.Expression}}<br>
                                <i>Proselytization.</i> {{npc.Disposition.Religion.Proselytization}}<br></p>
                                <p><b>Prejudices.</b> <span ng-repeat="v in npc.Disposition.Prejudices">{{v}}{{$last ? '' : ', '}}</span></p>
                                <h5>Description</h5>
                                <div id="npc"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </md-tab-body>
            </md-tab>
            <md-tab>
            <md-tab-label><span class="fas fa-city"></span></md-tab-label>
            <md-tab-body>
            <div class="panel no-outline">
                <h1>Settlement Generator</h1>
                <md-tabs md-dynamic-height="true">
                <md-tab>
                <md-tab-label>Town Details</md-tab-label>
                <md-tab-body>
                <div class="panel no-outline">
                    <iframe src="https://www.kassoon.com/dnd/town-generator/"></iframe>
                </div>
                </md-tab-body>
                </md-tab>
                <md-tab>
                <md-tab-label>Kingdom Details</md-tab-label>
                <md-tab-body>
                <div class="panel no-outline">
                    <iframe src="https://www.rpglibrary.org/utils/meddemog/"></iframe>
                </div>
                </md-tab-body>
                </md-tab>
                </md-tabs>
            </div>
            </md-tab-body>
            </md-tab>
            <md-tab>
            <md-tab-label><span class="fas fa-shield-alt"></span></md-tab-label>
            <md-tab-body>
            <div class="panel no-outline">
                <h1>Encounter Generator</h1>
                <md-tabs md-dynamic-height="true">
                <md-tab>
                <md-tab-label>Encounters</md-tab-label>
                <md-tab-body>
                <div class="panel no-outline">
                    <div class="">
                        <md-input-container>
                            <label>Average Party Level</label>
                            <input ng-model="averagePartyLevel" type="number" min="1" max="20" step="1">
                        </md-input-container>
                        <md-input-container>
                            <md-checkbox ng-model="onRoad">On Road</md-checkbox>
                        </md-input-container>
                        <md-input-container>
                            <label>Current Terrain</label>
                            <md-select ng-model="terrain">
                                <md-option ng-value="t" ng-repeat="t in terrains">{{t}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <md-button ng-click="enc_data = GetWilderness(terrain, onRoad, averagePartyLevel)">Generate Wilderness Encounter</md-button>
                            <md-button ng-click="enc_data = GetMonsterEncounter(terrain, averagePartyLevel)">Generate Monster Encounter</md-button>
                        </md-input-container>
                    </div>
                    <div class="" style="height: 400px;">
                        <p id="encounters"></p>
                    </div>
                </div>
                </md-tab-body>
                </md-tab>
                <md-tab>
                <md-tab-label>Monsters</md-tab-label>
                <md-tab-body>
                <div class="panel no-outline">
                    <iframe src="http://kobold.club/fight/#/encounter-builder"></iframe>
                </div>
                </md-tab-body>
                </md-tab>
                </md-tabs>
            </div>
            </md-tab-body>
            </md-tab>
            <md-tab>
            <md-tab-label><span class="fas fa-shopping-cart"></span></md-tab-label>
            <md-tab-body>
            <div class="panel no-outline">
                <h1>Shop Generator</h1>
                <div class="">
                    <md-input-container>
                        <label>Shop Name</label>
                        <input ng-model="shopName">
                    </md-input-container>
                    <md-input-container>
                        <label>Shop Type</label>
                        <md-select ng-model="shopType">
                            <md-option ng-value="t" ng-repeat="t in shopTypes">{{t}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>Shop Location</label>
                        <md-select ng-model="shopLocation">
                            <md-option ng-value="t" ng-repeat="t in shopLocations">{{t}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <md-checkbox ng-model="useSeed">Use Seed</md-checkbox>
                    </md-input-container>
                    <md-input-container>
                        <md-button ng-click="shop_data = GetShop(useSeed, shopName, shopType, shopLocation)">Generate Shop</md-button>
                    </md-input-container>
                    <div class="" style="height: 400px;">
                        <h2>{{shop.Name}}</h2>
                        <p>Money on Hand: {{shop.MoneyOnHand}}</p>
                        <p>Shop Type: {{shop.Type}}</p>
                        <p>Shop Quality: {{shop.Quality}}</p>
                        <table>
                            <tr><th>Item</th><th>Price</th><th>Quantity</th><th>Page</th><th>Notes</th></tr>
                            <tr ng-repeat="item in shop.Inventory"><td>{{item.Name}}</td><td>{{item.Price}}</td><td>{{item.Quantity}}</td><td>{{item.Page}}</td><td>{{item.Notes}}</td></tr>
                        </table>
                    </div>
                </div>
            </md-tab-body>
            </md-tab>
            <md-tab>
            <md-tab-label><span class="fas fa-dollar-sign"></span></md-tab-label>
            <md-tab-body>
            <div class="panel no-outline">
                <h1>Treasure Generator</h1>
                <div class="">
                    <div>
                        <md-input-container>
                            <label>Hoard CR</label>
                            <input ng-model="cr" type="number" min="1" max="40" step="0.25">
                        </md-input-container>
                        <md-input-container>
                            <md-button ng-click="tr_data = GetStandardTreasure(cr)">Generate Standard Hoard</md-button>
                            <md-button ng-click="tr_data = GetAlternateTreasure(cr)">Generate Alternate Hoard</md-button>
                        </md-input-container>
                    </div>
                    <div class="" style="height: 400px;">
                        <p id="treasure"></p>
                    </div>
                </div>
            </div>
            </md-tab-body>
            </md-tab>
            <md-tab>
            <md-tab-label><span class="fas fa-bolt"></span></md-tab-label>
            <md-tab-body>
            <div class="panel no-outline">
                <h1>Weather Generator</h1>
                <div class="">
                    <div>
                        <md-input-container>
                            <label>Advance Watches</label>
                            <input ng-model="advanceBy" type="number" min="1" step="1">
                        </md-input-container>
                        <md-input-container>
                            <label>Average Temperature for the Day</label>
                            <input ng-model="averageTemperature" type="number" step="1">
                        </md-input-container>
                        <md-input-container>
                            <label>Current Wetness</label>
                            <md-select ng-model="wetness">
                                <md-option ng-value="w" ng-repeat="w in wetnesses">{{w}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <md-button ng-click="GetNextWeather(wetness, averageTemperature, watch, advanceBy, previousWeather)">Get Next Weather</md-button>
                        </md-input-container>
                    </div>
                    <div class="" style="height: 400px;">
                        <p>{{watches[watch]}}</p>
                        <p>Wind: {{previousWeather.wind}}</p>
                        <p>Precipitation: {{previousWeather.precipitation}}</p>
                        <p>Temperature: {{previousWeather.temperature}}</p>
                    </div>
                </div>
            </div>
        </div>
        </md-tab-body>
        </md-tab>
        </md-tabs>
        </div>
        </md-grid-tile>
    </md-grid-list>
</body>
<!-- application bootstrap  -->
<script type="text/javascript">
var app = angular.module('App', ['ngMaterial', 'ngMessages']);
app.controller('appCtrl', function($scope) {

    $scope.terrains = GetTerrains();
    $scope.averagePartyLevel = 1;
    $scope.onRoad = false;
    $scope.terrain = "Urban";

    $scope.cr = 1;

    $scope.wetnesses = ["Arid", "Temperate", "Muggy", "Sea"];
    $scope.watches = ['12am - 4am', '4am - 8am', '8am - 12pm', '12pm - 4pm', '4pm - 8pm', '8pm - 12am'];

    $scope.watch = 2;
    $scope.wetness = "Temperate";
    $scope.advanceBy = 1;
    $scope.averageTemperature = 72;
    $scope.previousWeather = {
        wind: 0,
        precipitation: 0,
        temperature: 0
    };

    $scope.shopTypes = GetShopTypes();
    $scope.shopLocations = GetShopLocations();

    $scope.shopName = "Shop";
    $scope.shopLocation = $scope.shopLocations[0];
    $scope.shopType = $scope.shopTypes[0];
    $scope.useSeed = false;

    $scope.shop = {
        Name: $scope.shopName,
        MoneyOnHand: 0,
        Quality: "",
        Type: "",
        Inventory: []
    };

    $scope.npc = null;

    $scope.calculateCharaters = function() {
        $scope.characters.forEach(function(character) {
            calculateCharacter(character.Name, character);
        });
    };

    $scope.calculateCharaters();

    $scope.allAreEmpty = function(skill) {
        allEmpty = true;
        $scope.characters.forEach(function(character) {
            if (character[skill] !== 0 || character[skill] !== "") {
                allEmpty = true;
            }
        });
        return allEmpty;
    };

    $scope.GetWilderness = function(terrain, onRoad, averagePartyLevel) {
        document.getElementById("encounters").innerHTML = GetWilderness(terrain, onRoad, averagePartyLevel);
    };
    $scope.GetMonsterEncounter = function(terrain, averagePartyLevel) {
        document.getElementById("encounters").innerHTML = GetMonsterEncounter(terrain, averagePartyLevel);
    };

    $scope.GetStandardTreasure = function(cr) {
        document.getElementById("treasure").innerHTML = RandomTreasureHoard(cr, true);
    };
    $scope.GetAlternateTreasure = function(cr) {
        document.getElementById("treasure").innerHTML = RandomTreasureHoard(cr, false);
    };

    $scope.GetNextWeather = function(wetness, averageTemperature, watch, advanceBy, previousWeather) {
        $scope.previousWeather = GetNextWeather(wetness, averageTemperature, watch, advanceBy, previousWeather);
        $scope.watch = ($scope.advanceBy + $scope.watch) % $scope.watches.length;
    };

    $scope.GetShop = function(useSeed, name, type, location) {
        $scope.shop = GetShop(useSeed, name, type, location);
    };

    $scope.GetNPC = function() {
        $scope.npc = GetNPC("Average", []);
        console.log($scope.npc);
        document.getElementById("npc").innerHTML = $scope.npc.Description;
    };
});

</script>
</html>